-------------------------------------------------------------------------
                   Overtest configuration information
-------------------------------------------------------------------------
1) Shared filesystems

Each cluster of overtest execution hosts has a common shared filesystem.
Each task in a testrun is allocated an area within this filesystem for it
to use as a scratch area. This area will be preserved until the testrun
is archived. This allows for post-mortem analysis of any files created
during a testrun.

Certain files may need to be kept persistently and these are also stored
within the shared filesystem except that they are not subject to removal
when a testrun is archived.

All persistent logs are copied to one central filesystem regularly to
allow inspection using the web interface. They can also be viewed using
a command line tool.

The directory structure of a shared filesystem is:
/root/                                      -- Cluster root
/root/<testrunid>/                          -- Directory for a specific
                                               testrun
/root/<testrunid>/<versionedactionid>/      -- Directory for a specific
                                               task in a testrun
/root/<testrunid>/<versionedactionid>/work  -- Scratch work area for
                                               a specific task

Also in the <versionedactionid> folder are the persistent log files.
[0-9]+.stdout         -- stdout for each program run as part of the task
[0-9]+.stderr         -- stderr for each program run as part of the task
[0-9]+.combined       -- stdout interleaved with stderr
[0-9]+.returncode     -- The return codes for each program

log.<name>            -- Task specific log files are prefixed with log.
                         These are shown in the web interface

2) To be continued...
